/* src/app.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapers.com%2Fplain-black-background&psig=AOvVaw3gcxVS604_MczEFFnrUNr3&ust=1696426266777000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPi2nLv-2YEDFQAAAAAdAAAAABAE');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #f5e239;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(153, 145, 240, 0.8);
  border-radius: 8px;
}

.header {
  text-align: center;
  padding: 1rem 0;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

.search-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  flex-grow: 1;
  width: 150px; /* Reduce the width of the search bar */
  padding: 1.5rem;
  font-size: 1rem;
  border: 3px solid #a3d558;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #111011;
}

.search-button {
  background-color: #ff7700;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.search-button:hover {
  background-color: #0056b3;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.movie-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ddd;
  border-radius: 50px; /* Rounded corners for movie cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s; /* Add box-shadow transition */
  overflow: hidden;
}

.movie-card:hover {
  transform: translateY(-25px);
  box-shadow: 0 0 20px rgba(242, 15, 10, 0.9); /* Add a glow effect on hover */
}

.movie-card a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1rem;
}

.movie-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.movie-card h3 {
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-input {
    width: 100%;
    margin-top: 0.5rem;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .movie-card {
    padding: 0.5rem;
  }
}
